Flask==3.1.2
Flask_Cors==4.0.0
mediapipe==0.10.7
numpy==1.24.3
openai==2.8.0
opencv_contrib_python==4.11.0.86
opencv_python==4.8.1.78
psutil==5.9.5
python-dotenv==1.2.1
pyttsx3==2.99
Requests==2.32.5
sounddevice==0.5.2
speechrecognition==3.14.3
pyaudio==0.2.14